@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&display=swap");

html,
body {
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  margin-top: 3rem;
}

footer {
  background: #eee;
}

.tiny {
  font-size: 60%;
}
